<html>
    <body>
        <main>
            Prototype Task Management

            <h1>Task Management</h1>
            
            <h2>Tasks</h2>
            <ul>
                {% for task in tasks %}
                    <li>{{ task.id }} - {{ task.name }} - {{ task.status }}</li>
                {% endfor %}
            </ul>

            <h2>Rules</h2>
            <div>
                List of the configured EventBridge Rules
                You can add these programatically, so we'll be able to add scheduled tasks via the admin page.
            </div>
            <ul>
                {% for rule in rules %}
                    <li>{{ rule.Name }} - {{ rule.EventPattern }} - {{ rule.ScheduleExpression }}</li>
                {% endfor %}
            </ul>

            <h2>Add New Task</h2>
            <div>Click create and then wait a while... it takes a min or two for the task to spin up and write to the database.</div>
            <div>(but don't worry so much about failed jobs... they deliberately fail 20% of time to check I can do basic error handling)</div>
            <form method="POST" action="/tasks">
                <button type="submit">Create!</button>
            </form>
        </main>
    </body>
</html>